*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
  font-size: 62.5%;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: flex;
  object-fit: cover;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
}

main {
  flex-grow: 1;
}

.container {
  width: 100%;
  max-width: 1200px; /* ** */
  margin-left: auto;
  margin-right: auto;
  padding-right: 3rem;
  padding-left: 3rem;
}
